Repository dt418/monorepo-fullstack: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint

format:
  run: pnpm format:check

feat(api): add monorepo vscode settings and api user management service
  .vscode/settings.json
  apps/api/src/services/user.service.ts
Due: lint, format

feat: add CI/CD workflow, VS Code settings, enhance Turborepo Prisma build, relax commitlint rules, and automate Prisma client generation on install
  .github/workflows/ci.yml
  .vscode/settings.json
  commitlint.config.cjs
  package.json
  turbo.json
Due: format

fix: Add conditional execution for lefthook install in the prepare script, skipping CI and Docker builds
  package.json
Due: format

chore: Add VS Code settings for development and a Dockerfile for the API application
  .vscode/settings.json
  apps/api/Dockerfile
Due: format

feat: add multi-stage Dockerfile for API application
  apps/api/Dockerfile
Due: none

docs: update README with CI/CD and commit standards, clarify build/docker commands, and reflect monorepo structure changes
  README.md
Due: format

feat: add Dockerfile for building and serving the web application
  apps/web/Dockerfile
Due: none

feat: Add Dockerfiles for web and API applications to enable containerization
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

feat: Add Dockerfiles for API and web applications to enable containerized builds and deployments
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

feat: Add .dockerignore to exclude development and build artifacts from Docker images
  .dockerignore
Due: none

feat(all): final development docker
  .gitignore
  .vscode/settings.json
  DOCKER_GUIDE_EN.md
  DOCKER_GUIDE_JP.md
  DOCKER_GUIDE_VI.md
  README.md
  apps/api/Dockerfile
  apps/api/Dockerfile.dev
  apps/api/package.json
  apps/web/Dockerfile.dev
  apps/web/nginx.conf
  apps/web/package.json
  apps/web/vite.config.ts
  docker-compose.dev.yml
  docker-compose.yml
  package.json
  packages/db/package.json
  packages/db/prisma.config.ts
  packages/db/prisma/schema.prisma
  packages/db/prisma/seed.ts
  packages/db/src/client.ts
  packages/db/src/index.ts
  packages/db/tsconfig.eslint.json
  packages/db/tsup.config.ts
  packages/ui/src/components/Input.tsx
  packages/ui/src/components/Select.tsx
  packages/utils/package.json
  packages/utils/src/env.ts
  pnpm-lock.yaml
  turbo.json
Due: lint, format

fix(config): fix config
  .env.example
  apps/api/src/index.ts
  apps/api/tsconfig.json
  apps/web/vite.config.ts
  docker-compose.dev.yml
  docker-compose.yml
  package.json
  packages/utils/src/env.ts
  turbo.json
Due: lint, format

fix: fix login api
  apps/api/src/services/auth.service.ts
Due: lint, format

chore(config): update env.example
  .env.example
Due: none

style(api): update auth.service.ts
  apps/api/src/services/auth.service.ts
Due: lint, format

fix(docker): update Docker documentation to reflect changes in frontend and backend applications
  DOCKER_GUIDE_EN.md
  DOCKER_GUIDE_JP.md
  DOCKER_GUIDE_VI.md
  README.md
Due: format

fix(all): update frontend port in Docker guides and README
  DOCKER_GUIDE_EN.md
  DOCKER_GUIDE_JP.md
  DOCKER_GUIDE_VI.md
  README.md
Due: format

style: format project structure section in README.md for better readability
  README.md
Due: format

fix(api,web): implement file upload functionality with a new API service, static file serving, and web proxy configuration
  apps/api/src/index.ts
  apps/api/src/services/file.service.ts
  apps/web/vite.config.ts
  docker-compose.dev.yml
Due: lint, format

fix(web): fix file management feature with API client, upload UI, and dedicated page
  apps/web/src/api/client.ts
  apps/web/src/pages/FilesPage.tsx
  packages/ui/src/components/FileUpload.tsx
  packages/ui/src/index.ts
Due: lint, format

fix(api): update dependencies and improve TypeScript configuration
  apps/api/package.json
  apps/api/src/services/auth.service.ts
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: lint, format

feat(api,web,ui): enhance file management and add project steering documentation
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  apps/api/src/exceptions/http.error.ts
  apps/api/src/index.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/middleware/error.middleware.ts
  apps/api/src/routes/file.routes.ts
  apps/api/src/services/auth.service.ts
  apps/api/src/services/file.service.ts
  apps/api/src/services/task.service.ts
  apps/web/src/api/client.ts
  apps/web/src/components/FileActions.tsx
  apps/web/src/components/FileIcon.tsx
  apps/web/src/components/FileInfo.tsx
  apps/web/src/components/FileItem.tsx
  apps/web/src/components/FileList.tsx
  apps/web/src/components/FileUploadSection.tsx
  apps/web/src/components/FilesHeader.tsx
  apps/web/src/components/index.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useFileActions.ts
  apps/web/src/hooks/useFileUpload.ts
  apps/web/src/hooks/useFiles.ts
  apps/web/src/pages/FilesPage.tsx
  apps/web/src/utils/formatBytes.ts
  fullstack_prompt.md
  packages/types/src/schemas/file.ts
  packages/ui/package.json
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Icon.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: lint, format

docs(docker): add comprehensive hot reload documentation and Docker setup guides
  .kiro/docs/docker-hot-reload-flow.md
  .vscode/settings.json
  CHANGES_SUMMARY.md
  DOCKER_DEV_QUICK_START.md
  DOCKER_HOT_RELOAD.md
  DOCS_INDEX.md
  HOT_RELOAD_CHECKLIST.md
  HOT_RELOAD_TESTING.md
  README.md
  README_HOT_RELOAD.md
  VERIFICATION_GUIDE.md
  apps/api/tsconfig.json
  apps/api/uploads/3188366e-8aec-4719-8619-8b65bfee8463.jpg
  apps/web/src/components/FileActions.tsx
  apps/web/src/main.tsx
  apps/web/vite.config.ts
  docker-compose.dev.yml
  packages/db/package.json
  packages/types/tsup.config.bundled_8p9c806aoyp.mjs
  packages/types/tsup.config.bundled_jt0lbowbjc9.mjs
  packages/ui/src/components/Button.tsx
  verify-hot-reload.ps1
  verify-hot-reload.sh
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx}
  format: any of: *.{ts,tsx,md,json}
